# Fichiers de configuration locaux sensibles (ne pas inclure de secrets dans Git)
*.auto.tfvars

# Lock files pour gérer les dépendances (optionnel mais souvent inutile dans Git)
.terraform.lock.hcl


# Répertoires générés par Terraform/OpenTofu
.terraform/
secrets.auto.tfvars

# Fichiers d'état Terraform/OpenTofu
*.tfstate
*.tfstate.backup

# Journaux de crash Terraform/OpenTofu
crash.log

# Fichiers de logs ou temporaires communs
*.log
*.tmp